In [26]:
for i in range(1,5):
  print(i)

1
2
3
4

In [27]:
for i in range(1,5):
  print(i , end="")

1234

In [28]:
for i in range(1,5):
  for col in range(1,5):
    print(i , end=" ")

  print(" ")

1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

In [30]:
for i in range(1,5):
  for col in range(2,i+1):
    print("*", end=" ")

  print("")

*
* *
* * *

In [35]:
for i in range (1,5):
  for col in range(1,5):
    print("*", end=" ")

  print("")

* * * *
* * * *
* * * *
* * * *

In [36]:
for i in range (1,5):
  for col in range(1,5-i+1):
    print("*", end=" ")

  print("")

* * * *
* * *
* *
*

In [15]:
n = 4
for i in range(n, 0, -1):
    for j in range(1, i + 1):
        print(j, end=' ')
    print()

1 2 3 4
1 2 3
1 2
1

In [10]:
for i in range(1,4):
    a = 66
    for j in range(66, 66 + i):
        print(j, end=' ')
    print()

66
66 67
66 67 68

In [12]:
n = 4
num = 1
for i in range(n, 0, -1):
    for j in range(i):
        print(num, end=' ')
        num += 1
    print()

1 2 3 4
5 6 7
8 9
10

In [19]:
for i in range(1, n + 1):
    a = 65
    for col in range(1,1+i):
        print(chr(a), end=' ')
        a+=1
    print()

A
A B
A B C
A B C D

In [25]:
for i in range (1,5):
  for col in range (1, i+1):
    print("?", end =" ")


  for col in range (1, 5-i):
    print(col ,end =" ")
  print("")

? 1 2 3
? ? 1 2
? ? ? 1
? ? ? ?

In [23]:
n = 5
for i in range(n):
    for col in range(n):
        if col < i:
            print('?', end=' ')
        else:
            print(col - i + 1, end=' ')
    print()

1 2 3 4 5
? 1 2 3 4
? ? 1 2 3
? ? ? 1 2
? ? ? ? 1