In [14]:
numbers = [10, 20, 4, 45, 99]
max = numbers[0]
for index in numbers:
    if index > max:
        max = index
print("Maximum element is:", max)

Maximum element is: 99

In [13]:
numbers = [10, 20, 30, 40]
total = 0
for index in numbers:
    total += index
print("Sum is:", total)

Sum is: 100

In [12]:
numbers = [1, 2, 3, 4, 5]
sort = []
for i in range(len(numbers) - 1, -1, -1):
    sort.append(numbers[i])
print("Reversed list:", sort)

Reversed list: [5, 4, 3, 2, 1]

In [16]:
numbers = [5, 2, 8, 1, 3]

for i in range(len(numbers)):
    for j in range(i + 1, len(numbers)):
        if numbers[i] > numbers[j]:
            numbers[i], numbers[j] = numbers[j], numbers[i]

print("Sorted list:", numbers)

Sorted list: [1, 2, 3, 5, 8]

In [10]:
numbers = [1, 2, 2, 3, 4, 4, 5]
duplicate_no = []
for num in numbers:
    if num not in duplicate_no:
        duplicate_no.append(num)
print("List after removing duplicates:", duplicate_no)

List after removing duplicates: [1, 2, 3, 4, 5]

In [9]:
numbers = [1, 2, 3, 4, 3, 5, 6]
target_sum = 6
pairs = []

for i in range(len(numbers)):
    for j in range(i + 1, len(numbers)):
        if numbers[i] + numbers[j] == target_sum:
            pair = (numbers[i], numbers[j])
            if pair not in pairs and (numbers[j], numbers[i]) not in pairs:
                pairs.append(pair)

print("Pairs that add up to", target_sum, ":", pairs)

Pairs that add up to 6 : [(1, 5), (2, 4), (3, 3)]

In [8]:
nested_list = [1, [2, 3], [4, [5, 6], 7], 8]
list1 = []

for i in nested_list:
    if isinstance(i, list):
        for j in i:
            if isinstance(j, list):
                for k in j:
                    print(k)
                    list1.append(k)
            else:
                print(j)
                list1.append(j)
    else:
        print(i)
        list1.append(i)

print("Flattened List:", list1)

1
2
3
4
5
6
7
8
Flattened List: [1, 2, 3, 4, 5, 6, 7, 8]

In [7]:
numbers = [1, 2, 3, 4, 5]
small = numbers[0]
large = numbers[0]

for n in numbers:
    if n < small:
        small = n
    if n > large:
        large = n

total = sum(numbers) - small - large
print("Sum excluding the largest and smallest element:", total)

Sum excluding the largest and smallest element: 9