In [ ]:
# Dictionary => Datatype , use to store data but

'''
Without index position
data is  store => key, values
key is unique
values can be unique/ duplicate
Dictionary are mutatable
- No index position
key => data ( unique )
-- bill no: 101
-- 101 => product? , kitna , kab (value)
key:value
Dictionary => why we create it

'''

{'total': 5}

In [ ]:
mydic={101:"vijay","salary": 200000, "email": "vijay@gmail.com"}
print(mydic)

{101: 'vijay', 'salary': 200000, 'email': 'vijay@gmail.com'}

In [ ]:
mydic={101:"vijay","salary": 200000, "email": "vijay@gmail.com"}
print(mydic['email'])

vijay@gmail.com

In [ ]:
mydic={101:"vijay","salary": 200000, "email": "vijay@gmail.com"}
print(mydic['email'])
mydic["email"]="kumarvijay@gmail.com"         #update
print(mydic)

vijay@gmail.com
{101: 'vijay', 'salary': 200000, 'email': 'kumarvijay@gmail.com'}

In [ ]:
mydic={101:"vijay","salary": 200000, "email": "vijay@gmail.com"}
print(mydic['email'])
mydic["email"]="kumarvijay@gmail.com"         #update
print(mydic)

mydic["add"]="jaipur"       #insert

vijay@gmail.com
{101: 'vijay', 'salary': 200000, 'email': 'kumarvijay@gmail.com'}

In [ ]:
mydic={10:"yash"}
mydic[20]="abc"   #insert
mydic[10]="new yash"    #update

print(mydic)
mydic.keys()

{10: 'new yash', 20: 'abc'}

dict_keys([10, 20])

In [ ]:
mydic.values()

dict_values(['new yash', 'abc'])

In [ ]:
mydic

{10: 'new yash', 20: 'abc'}

In [ ]:
x = mydic.pop(10, "new yash")
print(mydic, x)

{20: 'abc'} new yash

In [ ]:
mydic={10:"a",20:"b"}
for i in mydic:
    print(i, mydic[i])

10 a
20 b

In [ ]:
mydic={10:"a",20:"b"}
for i in mydic.keys():
    print(i, mydic[i])

10 a
20 b

In [ ]:
mydic={10:"a",20:"b"}
for i in mydic.values():
    print(i)

a
b

In [ ]:
mydic={10:"a","amount":100}
mydic["amount"]= mydic["amount"]+5
print(mydic)

{10: 'a', 'amount': 105}

In [ ]:
s="abc"

mydic={}
for i in "abc":
  mydic[i]=1

print(mydic)

{'a': 1, 'b': 1, 'c': 1}

In [ ]:
mylist = [10, 20, 30, 40, 50]
start = 0
end = len(mylist) - 1

print(start, end, mylist[start], mylist[end])

temp = mylist[start]
mylist[start] = mylist[end]
mylist[end] = temp

print(start, end, mylist[start], mylist[end])

0 4 10 50
0 4 50 10

In [ ]:
mylist = [10, 20, 30, 40, 50]
start = 0
end = len(mylist) - 1

while start < end:
    temp = mylist[start]
    mylist[start] = mylist[end]
    mylist[end] = temp

    start += 1
    end -= 1

print(mylist)

[50, 40, 30, 20, 10]

In [ ]:
mylist= [ 10,3,20,5,30,40,50]
for i in range (0 ,len(mylist)):

  for j in range (i+1,len(mylist)):
    print(i,j,mylist[i],mylist[j])

0 1 10 3
0 2 10 20
0 3 10 5
0 4 10 30
0 5 10 40
0 6 10 50
1 2 3 20
1 3 3 5
1 4 3 30
1 5 3 40
1 6 3 50
2 3 20 5
2 4 20 30
2 5 20 40
2 6 20 50
3 4 5 30
3 5 5 40
3 6 5 50
4 5 30 40
4 6 30 50
5 6 40 50

In [ ]:
mylist = [10, 3, 20, 5, 30, 40, 50]

for i in range(0, len(mylist)):
    for j in range(i + 1, len(mylist)):
        print(i, j, mylist[i], mylist[j])
        if mylist[i] > mylist[j]:
            # Swap
            temp = mylist[i]
            mylist[i] = mylist[j]
            mylist[j] = temp
            print("after change =>", i, j, mylist[i], mylist[j])

print("Sorted list:", mylist)

0 1 10 3
after change => 0 1 3 10
0 2 3 20
0 3 3 5
0 4 3 30
0 5 3 40
0 6 3 50
1 2 10 20
1 3 10 5
after change => 1 3 5 10
1 4 5 30
1 5 5 40
1 6 5 50
2 3 20 10
after change => 2 3 10 20
2 4 10 30
2 5 10 40
2 6 10 50
3 4 20 30
3 5 20 40
3 6 20 50
4 5 30 40
4 6 30 50
5 6 40 50
Sorted list: [3, 5, 10, 20, 30, 40, 50]

In [ ]:
mylist = [10, 3, 20, 5, 30, 40, 50]

for i in range(0, len(mylist)):
    for j in range(i + 1, len(mylist)):
        print(i, j, mylist[i], mylist[j])
        if mylist[i] > mylist[j]:
            # Swap
            temp = mylist[i]
            mylist[i] = mylist[j]
            mylist[j] = temp
            print("after change =>", i, j, mylist[i], mylist[j])

print("Sorted list:", mylist)

0 1 10 3
after change => 0 1 3 10
0 2 3 20
0 3 3 5
0 4 3 30
0 5 3 40
0 6 3 50
1 2 10 20
1 3 10 5
after change => 1 3 5 10
1 4 5 30
1 5 5 40
1 6 5 50
2 3 20 10
after change => 2 3 10 20
2 4 10 30
2 5 10 40
2 6 10 50
3 4 20 30
3 5 20 40
3 6 20 50
4 5 30 40
4 6 30 50
5 6 40 50
Sorted list: [3, 5, 10, 20, 30, 40, 50]

In [ ]:
nested_list = [1, [2, 3], [4, [5, 6], 7], 8]
list1 = []

for i in nested_list:
    if isinstance(i, list):
        for j in i:
            if isinstance(j, list):
                for k in j:
                    print(k)
                    list1.append(k)
            else:
                print(j)
                list1.append(j)
    else:
        print(i)
        list1.append(i)

print("Flattened List:", list1)

1
2
3
4
5
6
7
8
Flattened List: [1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
mydictionary={1:"hey", 2: "Aman"}
print(mydictionary)

{1: 'hey', 2: 'Aman'}

In [ ]:
mydictionary={1:["Aman", "aman@gmail.com"]}
print(mydictionary[1])

['Aman', 'aman@gmail.com']

In [ ]:
mylist = [10,20,10,40,50,30,50]
mydictionary ={}
for i in mylist:
   mydictionary[i] = 1

print(mydictionary)

{10: 1, 20: 1, 40: 1, 50: 1, 30: 1}

In [ ]:
mylist = [10,20,10,40,50,30,50]
mydictionary ={}
for i in mylist:
   if (i in mydictionary):
      mydictionary[i] = mydictionary[i]+1
   else:
     mydictionary[i] = 1

print(mydictionary)

{10: 2, 20: 1, 40: 1, 50: 2, 30: 1}

In [ ]:
d = {10:1}
if (20 in d):
  d[10] = d[10] +1
else:
  d[20] = 1
print(d)

{10: 1, 20: 1}

In [ ]:
s ="abc"
for i in range (0,4):
  data = ""
  for j in range (0,i):
    print(i,j,s[j])
    data = data+ s [j]
  print ("data ==> " , data)

data ==>
1 0 a
data ==>  a
2 0 a
2 1 b
data ==>  ab
3 0 a
3 1 b
3 2 c
data ==>  abc

In [ ]:
d = {chr(i): i for i in range(65, 91)}
print(d)

print("A:", d["A"])
print("Z:", d["Z"])

rev = {v: k for k, v in d.items()}
print("89:", rev[89])

{'A': 65, 'B': 66, 'C': 67, 'D': 68, 'E': 69, 'F': 70, 'G': 71, 'H': 72, 'I': 73, 'J': 74, 'K': 75, 'L': 76, 'M': 77, 'N': 78, 'O': 79, 'P': 80, 'Q': 81, 'R': 82, 'S': 83, 'T': 84, 'U': 85, 'V': 86, 'W': 87, 'X': 88, 'Y': 89, 'Z': 90}
A: 65
Z: 90
89: Y

In [ ]:
mylist = [0, 1, 2, 4, 7, 11, 14, 15]
target = 9

mydictionary = {}
for i, num in enumerate(mylist):
    mydictionary[num] = i

for i in mylist:
    if (target - i) in mydictionary and mydictionary[target - i] != mydictionary[i]:
        print(i, target - i)
        break

2 7

In [ ]:
def int_to_roman(num):
    val = [1000, 900, 500, 400, 100, 90,  50, 40, 10, 9, 5, 4, 1]
    syms= ['M', 'CM','D', 'CD','C','XC','L','XL','X','IX','V','IV','I']
    roman = ""
    for i in range(len(val)):
        roman += syms[i] * (num // val[i])
        num %= val[i]
    return roman

print(int_to_roman(3749))

MMMDCCXLIX

In [ ]:
# SET #

x = {1,2,3,10,30,10,10,1,1,1,1}
print(x)
x.add ("hey")
print(x)
x.discard(2)
print(x)
x.update([1000,2000,3000])
print(x)

{1, 2, 3, 10, 30}
{1, 2, 3, 'hey', 10, 30}
{1, 3, 'hey', 10, 30}
{1, 3, 'hey', 10, 2000, 30, 1000, 3000}

In [ ]:
user_message = input("Enter the message: ")
uppercase_count = 0

for char in user_message:
    if 'A' <= char <= 'Z':
        uppercase_count += 1

if uppercase_count > 0:
    print("YES")
else:
    print("NO")

Enter the message: Vijay
YES

In [ ]:
# list , dictionary , set , tuple
# list comphresion , dictiionary , set comphresion
# range (1 , 11) => [1,2,3,4,5,6,7,8,9,10]

In [4]:
newlist = []
for i in range(1,11):
    newlist.append(i)
print(newlist)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
[i**2 for i in range (1,12)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

In [7]:
{i:i**2 for i in range (1,12)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121}

In [9]:
[i for i in range (1,12) if i % 2 == 0 and i%3 ==0]

[6]

In [10]:
[(i,j) for i in range (1,5) for j in range (5,8)]

[(1, 5),
 (1, 6),
 (1, 7),
 (2, 5),
 (2, 6),
 (2, 7),
 (3, 5),
 (3, 6),
 (3, 7),
 (4, 5),
 (4, 6),
 (4, 7)]

In [11]:
nums = [-1, 0, 1, 2, 11, 16]
target = 12
s = set()

for n in nums:
    if target - n in s:
        print("YES")
        break
    s.add(n)
else:
    print("NO")

YES

In [12]:
nums = [-1, 0, 1, 2, 11, 16]
target = 12
s = {}
for n in nums:
    if target - n in s:
        print("YES")
        break
    s[n] = True
else:
    print("NO")

YES

In [13]:
nums = [-1, 0, 1, 2, 11, 16]
target = 12
s = set()

for n in nums:
    if target - n in s:
        print("YES")
        break
    s.add(n)
else:
    print("NO")

YES