In [ ]:
# Exception Handling

# Exception => Unwanted Condition  => Terminate or Result

In [1]:
try:
  x = 50
  X = X/15
  print("hey")

except Exception as e:        #Exception this is a class
  print("error",e)

error name 'X' is not defined

In [2]:
try:
  x = 50
  x = x/15
  print("hey")

except (NameError , TypeError) as e:        #Exception this is a class
  print("error",e)

hey

In [3]:
try:
  x = 50
  x = x/15
  "hey"[10]
  print("hey")

except (NameError , TypeError) as e:        #Exception this is a class
  print("error",e)

except Exception as f:
  print("all other error",f)

all other error string index out of range

In [4]:
# Nested Exception/Try Handling

try:
  x = 50
  x = x/50
  try:
    "hey"[10]
  except:
    print("Nested Error Handled")
  print("hey")

except (NameError , TypeError) as e:        #Exception this is a class
  print("error",e)

Nested Error Handled
hey

In [5]:
try:
  x = 50
  x = x/50
  print("hey")

except (NameError , TypeError) as e:        #Exception this is a class
  print("error",e)
else:
  print("else block1")

hey
else block1

In [8]:
try:
    a = 9
    if a < 10:
        raise ValueError
    else:
        print("A Value", a)
except:
    print("Value Error to be handled")

Value Error to be handled