In [ ]:
# Functions
# Block of code => repetitive usage
# Code redable, code reusability


# Type Of Functions
# => User Defined Functions
# => Built in Functions

In [ ]:
# User Defined Functions

'''
int void(){
  logic
}

def function_name():
  logic
'''

In [ ]:
def greeting():
  print("hey user I welcome you onboard")

greeting()

hey user I welcome you onboard

In [ ]:
def greeting(z):     # Parameter / Formal Perameter / Informal Argument
  print("hey", z ,"I welcome you onboard")

greeting("Vijay")   # Argument

hey Vijay I welcome you onboard

In [ ]:
def factors(num):
    for i in range(1, num + 1):
        if num % i == 0:
            print("factor of", num, "is", i)

factors(12)

factor of 12 is 1
factor of 12 is 2
factor of 12 is 3
factor of 12 is 4
factor of 12 is 6
factor of 12 is 12

In [ ]:
# Types of Argument passing

def func (id , name , salary):
  print(f"id is {id} name is {name} and salary is {salary}")

func(1, "Vijay",30000)    # required argument => parameter  = = value / argument

func("Vijay",1, 30000)    # Position  of argument matters here

func(name = "Vijay",id = 1, salary = 30000) # keyword argument

id is 1 name is Vijay and salary is 30000
id is Vijay name is 1 and salary is 30000
id is 1 name is Vijay and salary is 30000

In [ ]:
def func (id , name , salary):
  print(f"id is {id} name is {name} and salary is {salary}")

func(10, salary = 10000 , name = "Roy")

id is 10 name is Roy and salary is 10000

In [ ]:
def func (id , name , salary = 9852):       # default perameter
  print(f"id is {id} name is {name} and salary is {salary}")

func(10, name = "Roy")
func(10, name = "Roy" , salary = 857)

id is 10 name is Roy and salary is 9852
id is 10 name is Roy and salary is 857

In [ ]:
# Return Vs Print in the function
# LCM of 3 number => 2,4,7  => (4,7)

def func (x):
  return  (x + 10)


a = func (5)
print ("a" ,a)

a 15

In [ ]:
def facebook (*args):       # tuple arguments
  print(args)


facebook ("tushar")
facebook ("tushar", "abc")
facebook ("tushar", "single" , "naina")

('tushar',)
('tushar', 'abc')
('tushar', 'single', 'naina')

In [ ]:
def facebook (**kwargs):       # keyword variable length argument
  print(kwargs)


facebook (name = "tushar")
facebook (name = "tushar", college = "abc")
facebook (name = "tushar", college = "abc" , age = 20)

{'name': 'tushar'}
{'name': 'tushar', 'college': 'abc'}
{'name': 'tushar', 'college': 'abc', 'age': 20}

In [ ]:
# Discuss lambda Functions
# lambda function => one line function
# Annymous function
# becouse they dont have the name

In [ ]:
def func(x):
  print(x + 10)

func(15)

25

In [ ]:
def func(x):
  print(x + 10)
  return 1000000

out = func(15)
print("after function:" ,out)

25
after function: 1000000

In [ ]:
(lambda x: x+10) (20)

30

In [ ]:
a = lambda x: x+10
a(20)

# lambda peramaeter : expression

30

In [ ]:
def func(s):
  num = s.split(" ")
  for i in num:
    print (i)

In [ ]:
def func(s):
  num = s.split(" ")
  for i in num :
    print (i,i[0:2])

In [ ]:
a = lambda x: x[0:2]
for i in "hey hello user how are you".split(" "):
  print(i)
  print(a(i))

hey
he
hello
he
user
us
how
ho
are
ar
you
yo

In [ ]:
s = "hey hello user"
func(s)

hey
hello
user

In [ ]:
nums = [2, 5, 7]
result = [[x] for x in nums if x == 2]
print(result)

[[2]]

In [ ]:
def func():
  print ("Vijay Kumar")

a = func()
print("a=>",a)

Vijay Kumar
a=> None

In [ ]:
def func():
  print ("Vijay Kumar")

a = func        # memory of func is assigneded to a
print("a=>",a)
a()     # first class functions

a=> <function func at 0x7b51b7203560>
Vijay Kumar

In [2]:
# High Order Function : High Order Function  =>
# jo kisi dushre function ko as argument accept karerga




def square(num):
  print(num**2)

x = square
print(x)

<function square at 0x7c4df1f17560>

In [3]:
def power4(a,b):
  print(a,b)

x = square
print(x)

<function square at 0x7c4df1f17560>

In [6]:
def square(num):
  print(num**2)

def power4(a,b):
  print(a,b)

power4(10,square(10))

100
10 None

In [7]:
def square(num):
  print(num**2)

def power4(a,b):
  print(a,b)    #b ia same as of square
  print("function call =>" , b(4))        # b() ==  square()

power4(10,square)

10 <function square at 0x7c4db6d920c0>
16
function call => None

In [10]:
def square(num):
  return num**2

def power4(a, b):
  print(a, b, b(a))    #b ia same as of square
  print("function call =>", b(a) * b(a))    # b(a) ==  square(a) b(4) * b(4)

power4(4, square)

4 <function square at 0x7c4db6e3fec0> 16
function call => 256