In [1]:
numbers = [1, 2, 3, 2, 1]

i = 0,
j = 0,
len(numbers) - 1
palindrome = True

while i < j:
    if numbers[i] != numbers[j]:
        palindrome = False
        break
    i += 1
    j -= 1

print(palindrome)

True

In [2]:
numbers = [1, 2, 3, 2, 4, 5, 1, 6]
duplicate_no = []
for n in numbers:
    if n not in duplicate_no:
        duplicate_no.append(n)
print(duplicate_no)

[1, 2, 3, 4, 5, 6]

In [10]:
numbers = [1, 2, 3, 2, 4, 5, 1, 6]
def remove_duplicates(lst):
    result = []
    for num in lst:
        if num not in result:
            result.append(num)
    return result

print(remove_duplicates(numbers))

[1, 2, 3, 4, 5, 6]

In [6]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
a = 0

result = [a for a in list1 if a in list2]
print(result)

[3, 4, 5]

In [9]:
words = ["apple", "banana", "strawberry", "kiwi"]
longest = max(words, key=len)
print(longest)

strawberry

In [11]:
numbers = [1, 2, 4, 5]
n = 5

missing = sum(range(1, n + 1)) - sum(numbers)
print("Missing number is:", missing)

Missing number is: 3