In [1]:
n = 4

for i in range(n, 0, -1):
    print('*' * i)

****
***
**
*

In [2]:
num = 10
rows = 3

for i in range(1, rows + 1):
    for j in range(i):
        print(num, end='')
        num += 1
    print()

10
1112
131415

In [3]:
n = 4

for i in range(n):
    for j in range(i + 1):
        print(chr(68 - j), end='')
    print()

D
DC
DCB
DCBA

In [4]:
rows = 4

for i in range(rows):
    num = 10
    for j in range(i + 1):
        print(num, end='')
        num += 1
    print()

10
1011
101112
10111213

In [5]:
n = 4

for i in range(n):
    for j in range(i + 1):
        print(chr(65 + j), end='')
    print()

A
AB
ABC
ABCD

In [6]:
n = 4

for i in range(n):
    for j in range(n - i):
        print(chr(68 - j), end='')
    print()

DCBA
DCB
DC
D

In [7]:
n = 5

for i in range(1, n + 1):
    for j in range(1, i + 1):
        if j % 2 == 0:
            print(2, end='')
        else:
            print(1, end='')
    print()

1
12
121
1212
12121

In [8]:
n = 4
char_code = 70  # Starting with 'F' (ASCII 70)

for i in range(n):
    for j in range(i + 1):
        print(chr(char_code), end='')
        char_code += 2  # Skip one character each time
    print()

F
HJ
LNP
RTVX

In [9]:
n = 4

for i in range(n):
    print(' ' * i, end='')

    print('*' * (n - i))

****
 ***
  **
   *

In [10]:
n = 4

for i in range(1, n + 1):
    for j in range(1, i + 1):
        print(j, end='')
    print()

1
12
123
1234

In [11]:
n = 4
num = 1

for i in range(1, n + 1):
    for j in range(i):
        print(num, end='')
        num += 1
    print()

1
23
456
78910

In [12]:
n = 4
num = 10

for i in range(1, n + 1):
    for j in range(i):
        print(num, end='')
        num -= 1
    print()

10
98
765
4321

In [13]:
n = 4

for i in range(1, n + 1):
    for j in range(i):
        print(chr(65 + j), end='')
    print()

A
AB
ABC
ABCD

In [17]:
rows = 3
char_code = 65  # ASCII for 'A'

for i in range(1, rows + 1):
    for j in range(i):
        print(chr(char_code), end='')
        char_code += 1
    print()

A
BC
DEF

In [18]:
rows = 3
start_chars = [90, 88, 84]  # ASCII codes for 'Z', 'X', 'T'

for i in range(rows):
    start = start_chars[i]
    for j in range(i + 1):
        print(chr(start - j), end='')
    print()

Z
XW
TSR

In [23]:
n = 5

for i in range(1, n + 1):
    for j in range(1, i + 1):

        if j == 1 or i == n or i == j:
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

*
* *
*   *
*     *
* * * * *

In [24]:
n = 4
num = 1
char_code = ord('a')

for i in range(1, n + 1):
    for j in range(i):
        print(num, chr(char_code), end=' ')
        num += 1
        char_code += 1
    print()

1 a
2 b 3 c
4 d 5 e 6 f
7 g 8 h 9 i 10 j

In [28]:
n = 5

for i in range(1, n + 1):
    print('*' * i)

*
**
***
****
*****

In [29]:
n = 4

for i in range(1, n + 1):
    for j in range(1, i + 1):
        print(j, end='')
    print()

1
12
123
1234

In [30]:
n = 4
num = 1

for i in range(1, n + 1):
    for j in range(i):
        print(num, end='')
        num += 1
    print()

1
23
456
78910

In [31]:
n = 5

for i in range(n, 0, -1):
    print('*' * i)

*****
****
***
**
*

In [32]:
n = 4

for i in range(n, 0, -1):
    for j in range(i):
        print(chr(65 + j), end='')
    print()

ABCD
ABC
AB
A

In [33]:
n = 4

for i in range(1, n + 1):
    print(str(i) * i)

1
22
333
4444

In [34]:
n = 4

for i in range(n):
    for j in range(n, i, -1):
        print(j, end='')
    print()

4321
432
43
4

In [35]:
n = 4

for i in range(1, n + 1):
    for j in range(i):
        print(chr(65 + j), end='')
    print()

A
AB
ABC
ABCD

In [36]:
n = 5

for i in range(n, 0, -1):
    for j in range(1, i + 1):
        print(j, end='')
    print()

12345
1234
123
12
1

In [38]:
n = 6
start_char = ord('F')

for i in range(n):
    for j in range(n - i):
        print(chr(start_char - j), end='')
    print()

FEDCBA
FEDCB
FEDC
FED
FE
F

In [37]:
n = 5

for i in range(n):
    a = ' ' * i
    b = '*' * (n - i)
    print(a+b)

*****
 ****
  ***
   **
    *

In [19]:
n = 5
for i in range(n, 0, -1):
    for k in range(1, i + 1):
        if (k == 1 or i == n or i == k):
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

* * * * *
*     *
*   *
* *
*

In [26]:
n = 5
for i in range(n):
    for j in range(n):
        if i == n - 1:
            print("*", end=" ")
        elif j == i:
            print("*", end=" ")
        elif j < i:
            print("-", end=" ")
        else:
            print(" ", end=" ")
    print()

*
- *
- - *
- - - *
* * * * *