In [75]:
for i in range(5):
    for col in range(5 - i - 1):
        print(" ", end="")
    for k in range(i + 1):
        print("* ", end="")

    print()

    *
   * *
  * * *
 * * * *
* * * * *

In [34]:
for i in range(5):
    for col in range(i):
        print(" ", end="")
    for k in range(1 * (5 - i)):
        print("* ", end="")

    print()

* * * * *
 * * * *
  * * *
   * *
    *

In [79]:
for i in range(5):
    for col in range(i):
        print("", end="")
    for k in range(1 * (5 - i)):
        print("* ", end="")

    print()

* * * * *
* * * *
* * *
* *
*

In [30]:
for i in range(2,6):
    for col in range(i):
        print("* ", end="")
    print()

* *
* * *
* * * *
* * * * *

In [38]:
for i in range(5, 0, -1):
    for col in range(i):
        print("* ", end="")
    print()

for i in range(2, 6):
    for col in range(i):
        print("* ", end="")
    print()

* * * * *
* * * *
* * *
* *
*
* *
* * *
* * * *
* * * * *

In [69]:
for i in range(1,6):
  for col in range(2,i+1):
    print(" ",end=" ")
  for k in range(i,6):
    print("*",end=" ")
  print()

* * * * *
  * * * *
    * * *
      * *
        *

In [71]:
for i in range(2,6):
  for col in range(i,5):
    print(" ",end=" ")

  for k in range(1,i+1):
    print("*",end=" ")
  print()

      * *
    * * *
  * * * *
* * * * *

In [68]:
for i in range(1,6):
  for col in range(2,i+1):
    print(" ",end=" ")
  for k in range(i,6):
    print("*",end=" ")
  print()

for i in range(2,6):
  for col in range(i,5):
    print(" ",end=" ")
  for k in range(1,i+1):
    print("*",end=" ")
  print()

* * * * *
  * * * *
    * * *
      * *
        *
      * *
    * * *
  * * * *
* * * * *