In [ ]:
age = 10
print("memory of x =>", id (age))

memory of x => 10751144

In [ ]:
age = x
print = (print("memory of x =>", id (x)))

memory of x => 10750952

In [ ]:
#List Data Type
x = 10
y = 20
z = 30
#Collection of data element
[1,2,3,4,5,"abc"]

#List have index value for an element
["Vijay",10,24,34,41,"abc"]

#Sequance Datatype

In [ ]:
mylist = [10, 20, 30, "abc"]
print(mylist)
print(mylist[0])

[10, 20, 30, 'abc']
10

In [ ]:
mylist = [10, 20, 30, "abc"]
mylist.append(90)         #add element at last
print(mylist)

[10, 20, 30, 'abc', 90]

In [ ]:
mylist = [10, 20, 30, "abc"]
mylist.insert(10, "Vijay")     # add a string
print(mylist)

[10, 20, 30, 'abc', 'Vijay']

In [ ]:
mylist = [10, 20, 30, "abc"]
mylist[0]=1888              #update => index = value
print(mylist)

[1888, 20, 30, 'abc']

In [ ]:
mylist = [10, 20, 30, "abc"]
mylist.pop()            # delete string
print("delete=>",mylist)

delete=> [10, 20, 30]

In [ ]:
x = [10,20]
x.append(30)

print(x)
x[0]=100

print(x)
out = x.pop()
print (x,out)

[10, 20, 30]
[100, 20, 30]
[100, 20] 30

In [ ]:
x = [10,20,1,2,5]
x.reverse()
print(x)

[5, 2, 1, 20, 10]

In [ ]:
x = [10,20,1,2,5]
x.sort()
print(x)

[1, 2, 5, 10, 20]

In [ ]:
list1 = [10,20,30,40,50,2,3,70]
for e in list1 :       #execute loop directly => iterable
  print(e)

10
20
30
40
50
2
3
70

In [ ]:
list1 = [10,20,30,40,50,2,3,70]
for index in range (0,7):
  print(index, list1 [index])

0 10
1 20
2 30
3 40
4 50
5 2
6 3

In [ ]:
list1 = [10, 20, 30, 40, 50, 2, 3, 70]
min = list1[0]

for i in range(len(list1)):
    if list1[i] < min:
        min = list1[i]

print(min)

2

In [ ]:
mylist = [10,20,30,40, "abc"]
for index in range (0,len(mylist)):
  print(index,mylist[index])

0 10
1 20
2 30
3 40
4 abc

In [ ]:
mylist = [10, 20, 30, 40, 14]
max = mylist[0]

for index in range(0, len(mylist)):
    print("Before ->", mylist[index], max)
    if mylist[index] > max:
        max = mylist[index]
        print("After ->", mylist[index], max)

Before -> 10 10
Before -> 20 10
After -> 20 20
Before -> 30 20
After -> 30 30
Before -> 40 30
After -> 40 40
Before -> 14 40

In [ ]:
mylist = [10, 20, 30, 40, 14]
max = mylist[0]
smax = 0
for index in range (0,  len (mylist)):
  if (mylist[index] > max):
    smax = max
    max = mylist [index]
    print ("value ->" ,max ,smax)

value -> 20 10
value -> 30 20
value -> 40 30

In [ ]:
mylist = [10, 20, 30, 40, 35]
max = mylist[0]
smax = 0
for index in range (0,  len (mylist)):

  if (mylist[index] > max):
    smax = max
    max = mylist [index]

  elif (mylist[index] > smax):
    smax = mylist [index]

print ("value ->" ,max ,smax)

value -> 40 35

In [ ]:
mylist = [10,20,30,40,35]
for index in range (0,1):
  print(mylist[index])

for index2 in range (1 , len (mylist)):
  print(mylist[index], mylist [index2])

10
10 20
10 30
10 40
10 35